<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.frontend.module.tag.dao.ITagDao">

    <insert id="createLike" parameterType="LikePO">
        INSERT INTO paper_like(paper_id, like_count, version) VALUES (#{paperId}, #{likeCount}, #{version})
    </insert>

    <select id="getLikeByPaperId" resultType="LikePO">
        SELECT paper_id, like_count, version FROM paper_like where paper_id = #{paperId}
    </select>

</mapper>