<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.frontend.module.paper.dao.IPaperDao">

    <select id="getPaperDetail" resultType="PaperVO">
        SELECT p.id, p.title, p.text, p.create_time, p.update_time, p.read_count, p.summary, p.menu_id, p.enable,
            case
                when temp.comment_count is null then 0
                else temp.comment_count
            end as comment_count
        FROM paper p
        LEFT JOIN (
            SELECT count(*) AS comment_count, pc.paper_id
            FROM paper_comment pc
            WHERE pc.active = 1 and pc.enable = 1 and pc.paper_id = #{id}
            GROUP BY paper_id
        ) temp on temp.paper_id = p.id
        where p.active = 1 and p.id = #{id}
    </select>

    <select id="listPaperBasic" resultType="PaperVO" parameterType="PaperQuery">
        SELECT p.id, p.title, p.summary, p.create_time, p.update_time, p.read_count, p.menu_id,
            case
                when temp.comment_count is null then 0
                else temp.comment_count
            end as comment_count
        FROM paper p
        LEFT JOIN (
            SELECT count(*) AS comment_count, pc.paper_id
            FROM paper_comment pc
            WHERE pc.active = 1 and pc.enable = 1
            GROUP BY paper_id
        ) temp on temp.paper_id = p.id
        <where>
            p.enable = 1 and p.active = 1
            <if test="title != null and !title.isEmpty">
                p.title = #{title}
            </if>
        </where>
    </select>

    <insert id="createPaper" parameterType="PaperPO" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO paper(title, text, create_time, summary, menu_id)
        VALUES(#{title}, #{text}, sysdate(), #{summary}, #{menuId})
    </insert>

    <update id="updatePaper" parameterType="PaperPO">
        UPDATE paper t
        <set>
            <if test="title != null and !title.isEmpty()">
                t.title = #{title},
            </if>
            <if test="text != null and !text.isEmpty()">
                t.text = #{text},
            </if>
            <if test="menuId != null">
                t.menu_id = #{menuId},
            </if>
            <if test="summary != null">
                t.summary = #{summary},
            </if>
            t.update_time = sysdate()
        </set>
        where t.id = #{id}
    </update>

    <update id="enablePaper">
        UPDATE paper t
        SET t.enable = 1 - t.enable
        WHERE t.id = #{paper_id}
    </update>

    <update id="deletePaper">
        UPDATE paper t
        SET t.active = 0
        WHERE t.id = #{paper_id}
    </update>

</mapper>