<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.frontend.module.tag.dao.ITagDao">

    <select id="getPaperDetail" resultType="com.blog.frontend.module.paper.entity.po.PaperVO">
        SELECT DISTINCT t.tag_name FROM tag t where t.paper_id = #{paperId};
    </select>

</mapper>